:root {
	/*colors*/
	--sky-blue: #8cc8e3;
	--indigo-dye: #103E54;
	--gunmetal: #0D2530;
	--brown-sugar: #BB7E5D;
	--sunglow: #ffcf56;
	--cerulean: #477998;
	
}


.gallery-container
{
	display: inline-flex;
	flex-wrap: wrap;
	justify-content: center;
	align-content: center;
}

.gallery{
	/*display: inline-block;*/
	margin: 20px;
	width: 200px;
	height: auto;
}

#gallery-header{
	width: 60%;
	height: auto;
	margin: 0 20%;
	outline-style:ridge;
	outline-width:10px;
	outline-color:var(--brown-sugar);
}

.gallery .description{
	/* border: 5px ridge var(--sunglow); */
	/* background-color: var(--indigo-dye); */
	color: var(--indigo-dye);
	padding: 10px;
	text-align: center;
}

.gallery img {
	width: 100%;
	height: auto;
}

.gallery img:hover{
	border: 1px solid black;
}
